import cucumber.api.CucumberOptions;
import cucumber.api.testng.AbstractTestNGCucumberTests;
#set( $condition = $flagSOutline)
@CucumberOptions(strict = $strict,
   #if ($condition)
       features = {"$featureFile"},
   #else
       features = {"classpath:$featureFile"},
       tags = {$tags},
   #end
    plugin = {$reports, "pretty"},
    monochrome = ${monochrome},
    glue = { $glue })
public class $className extends AbstractTestNGCucumberTests {
}
